@tailwind base;
@tailwind components;
@tailwind utilities;

/* App base styles */
:root {
  --bg: #ffffff;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

